* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

// $primary-color: rgb(5, 20, 35);
// $secondary-color: rgb(20, 205, 205);
$primary-color: #F0FFF3;
$secondary-color: rgb(5, 20, 35);
$hover-color: rgb(4, 189, 251);

@mixin transition {
    transition: all 0.5s ease-in-out;
    @include mediaQuery(min-width, 992px){
       transition: none;
    }
}

@mixin burgerBtnStyle($width: 100%) {
    position: absolute;
    height: 3px;
    width: $width;
    border-radius: 10px;
    background-color: $secondary-color;
    transition: all 0.5s ease-in-out;
    @include mediaQuery(min-width, 600px){
        height: 4px;
    }
}

@mixin login_h3style($divColoring: $primary-color){
    border: 1px solid $divColoring;
    color: $divColoring;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    @include mediaQuery(min-width, 992px){
        $divColoring: $secondary-color;
        color: $divColoring;
        font-size: 15px;
        padding: 6px 10px;
    }
    @include mediaQuery(min-width, 1200px){
        font-size: 17px;
    }
}

@mixin mediaQuery($widthOrHeight, $screenSize) {
    @media only screen and ($widthOrHeight: $screenSize){
        @content;
    }
}


@mixin anime{
    animation-iteration-count: infinite;
    animation-name: expand;
    animation-duration: 2s;

    @keyframes expand {
        0% {
            transform:  scale(1);
        }
        50% {
            transform: scale(1.05);
            opacity: 0.98;
        }
        100% {
            transform: scale(1);
        }
    }
}