header.top-header {
    top: 0;
    right: 0;
    left: 0;
    padding: 15px  20px;
    overflow-x: hidden;
    background: transparent;
    border-bottom: 3px solid $secondary-color;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    z-index: 2;

    h1 {
        font-size: 25px;
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}


.how-it-works_section {
    position: relative;
    height: 130vh;
    background: linear-gradient(
        to bottom, 
        $primary-color, 
        rgba(20, 205, 205, 0.142));
    display: grid;
    grid-template-areas: "text";

    img {
        width: 100%;
        height: 75%;
        margin-top: 50px;
        grid-area: text;
        object-fit: cover;
        opacity: 0.3;
    }
    
}
@include mediaQuery(max-height, 640px) {
    .how-it-works_section {
        height: 150vh;
    }
}
@include mediaQuery (max-height, 540px) {
    .how-it-works_section {
        height: 160vh;
    }
}

.how-it-works {
    position: absolute;
    padding-top: 50px;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: $secondary-color;
    opacity: 0.95;

    

    h3 {
        width: 85%;
        margin-left: 15px;
        font-size: 16px;
        font-weight: normal;
        list-style: none;
        
    }

    ul {
        font-size: 14px;
        margin-left: 40px;

        li {
            font-size: 11px;
            list-style-type: circle;

            img {
                margin-top: 10px;
                width: 100%;
                height: 100px;
                opacity: 0.99;
            }
            figcaption {
                font-size: 9px;
            }
        }
    }

    a{
        text-decoration: none;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 16px;
        margin: 10px auto 0;
        padding: 4px;
        border: 1px solid $secondary-color;
        border-radius: 20px;
    }
}