dialog {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100vh;
    border: none;
    margin: auto;
    background-color: #f0fff3d8;
}

.signup_or_login {
    position: relative;
    background: $secondary-color;
    color: $primary-color;
    opacity: 0.9;
    height: 100%;
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        cursor: pointer;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 90%;

        label {
            font-size: 17px;
            margin-left: 5px;
        }

        span {
            font-size: 10px;
            margin: 5px 0 0 10px;
            color: #ff1717;
            @include mediaQuery(min-width, 1200px){
                font-size: 12px;
            }
        }

        input {
            padding: 4px;
            outline-color: $secondary-color;
        }
    }

    input {
        border: none;
        border-radius: 10px;
        font-size: 17px;
    }

    .dialog-submit {
        padding: 5px 15px;
        background-color: $primary-color;
        color: $secondary-color;
        cursor: pointer;
        font-weight: bold;
    }

    a {
        color: $primary-color;
        text-decoration: underline;
    }
}