@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.top-header {
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 20px;
  overflow-x: hidden;
  border-bottom: 1px solid lightgray;
  z-index: 2;
}
header.top-header h1 {
  font-size: 25px;
}
@media only screen and (min-width: 992px) {
  header.top-header h1 {
    font-size: 30px;
  }
}
header.top-header h1 a {
  text-decoration: none;
  color: rgb(5, 20, 35);
  transition: 0.2s;
}
header.top-header h1 a:hover {
  color: rgb(4, 189, 251);
}

.how-it-works_section {
  position: relative;
  background-image: linear-gradient(to bottom, #F0FFF3, rgba(20, 205, 205, 0.142)), url("../imgs/woman-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 30px;
}
@media only screen and (min-width: 600px) {
  .how-it-works_section {
    padding: 130px 0 50px;
  }
}

.how-it-works {
  color: rgb(5, 20, 35);
}
.how-it-works h3 {
  font-size: 23px;
  font-weight: normal;
  margin-left: 15px;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .how-it-works h3 {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .how-it-works h3 {
    margin-left: 100px;
    font-size: 27px;
  }
}
@media only screen and (min-width: 1300px) {
  .how-it-works h3 {
    margin-left: 150px;
  }
}
.how-it-works div {
  padding: 30px 20px 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 600px) {
  .how-it-works div {
    padding: 30px 70px 30px 120px;
  }
}
@media only screen and (min-width: 992px) {
  .how-it-works div {
    padding: 50px 150px 50px 200px;
    gap: 40px;
  }
}
@media only screen and (min-width: 1300px) {
  .how-it-works div {
    padding: 50px 300px 50px 250px;
  }
}
@media only screen and (min-width: 1600px) {
  .how-it-works div {
    padding: 50px 400px 50px 350px;
  }
}
.how-it-works div ul {
  font-size: 18px;
}
@media only screen and (min-width: 600px) {
  .how-it-works div ul {
    font-size: 23px;
  }
}
.how-it-works div ul li {
  font-size: 16px;
  list-style-type: circle;
}
@media only screen and (min-width: 600px) {
  .how-it-works div ul li {
    font-size: 18px;
  }
}
.how-it-works div ul li img {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  opacity: 0.99;
}
@media only screen and (min-width: 600px) {
  .how-it-works div ul li img {
    width: 75%;
    height: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .how-it-works div ul li img {
    height: 200px;
  }
}
.how-it-works div ul li figcaption {
  font-size: 12px;
}
.how-it-works a {
  color: rgb(5, 20, 35);
  border: 1px solid rgb(5, 20, 35);
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 4px;
  transition: 0.2s;
}
.how-it-works a:hover {
  border-color: #F0FFF3;
  color: #F0FFF3;
}
@media only screen and (min-width: 600px) {
  .how-it-works a {
    font-size: 20px;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
.contact-section .callcare {
  color: rgb(5, 20, 35);
  font-size: 14px;
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-container {
  background: rgb(5, 20, 35);
  max-width: 800px;
  width: 90%;
  padding: 25px;
  margin-top: 70px;
}

.form-header {
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px 0;
  color: #F0FFF3;
}

.contact-section input {
  width: 100%;
  background-color: transparent;
  color: #F0FFF3;
  border: none;
  border-bottom: solid 1px #F0FFF3;
  padding: 25px 0 8px 0;
  outline: none;
}
.contact-section input:focus {
  border-color: rgb(4, 189, 251);
  transition: 0.2s;
}
.contact-section input:focus::-moz-placeholder {
  color: rgb(4, 189, 251);
  transform: translateY(-12px);
}
.contact-section input:focus::placeholder {
  color: rgb(4, 189, 251);
  transform: translateY(-12px);
}
.contact-section input::-moz-placeholder {
  font-size: 14px;
  font-family: monospace;
  color: #F0FFF3;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.contact-section input::placeholder {
  font-size: 14px;
  font-family: monospace;
  color: #F0FFF3;
  transition: 0.2s;
}
.contact-section input[for=message] {
  padding: 5px 0;
}

.float-left {
  float: left;
  width: 48%;
}

.float-right {
  float: right;
  width: 48%;
}

.message {
  margin: 20px 0;
  color: #F0FFF3;
}

.submit {
  width: 40%;
  border: none;
  padding: 7px 0;
  background: linear-gradient(to right, rgb(140, 210, 240), #F0FFF3);
  color: rgb(5, 20, 35);
  font-weight: bold;
  cursor: pointer;
}
.submit:hover {
  background: linear-gradient(to right, rgb(4, 189, 251), rgb(4, 189, 251));
}

.page-preload-animation {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-preload-animation img {
  width: 40px;
  height: 40px;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items {
  padding: 80px 0 0;
  height: -moz-fit-content;
  height: fit-content;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.search select {
  background-color: rgb(5, 20, 35);
  color: #F0FFF3;
  width: 90%;
  border-radius: 20px;
  padding: 5px;
  outline-color: #F0FFF3;
}
.search select option {
  width: 50%;
  align-self: center;
}
.search select option:nth-child(1) {
  font-size: small;
}

.product-verification-badge {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
}

.swiper-scrollbar {
  background-color: rgba(5, 20, 35, 0.1);
}

.swiper-scrollbar-drag {
  background-color: rgba(5, 20, 35, 0.2);
}

.review-section {
  padding-top: 100px;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to bottom, #F0FFF3, rgba(20, 205, 205, 0.3));
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.testimonial-container h2 {
  color: rgb(5, 20, 35);
  font-size: 18px;
  text-align: center;
  width: 100%;
  border-bottom: solid 2px #F0FFF3;
  padding-bottom: 5px;
}
@media only screen and (min-width: 600px) {
  .testimonial-container h2 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 992px) {
  .testimonial-container h2 {
    font-size: 25px;
  }
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 30px 0;
}
.testimonial .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
@media only screen and (min-width: 600px) {
  .testimonial .slide {
    row-gap: 30px;
  }
}
.testimonial .slide img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  .testimonial .slide img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .testimonial .slide img {
    width: 150px;
    height: 150px;
  }
}
.testimonial .slide p {
  text-align: center;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(5, 20, 35);
}
@media only screen and (min-width: 600px) {
  .testimonial .slide p {
    padding: 0 40px;
    font-size: 17px;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 768px) {
  .testimonial .slide p {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .testimonial .slide p {
    font-size: 22px;
  }
}
.testimonial .slide i {
  font-size: 20px;
  color: rgb(5, 20, 35);
}
@media only screen and (min-width: 600px) {
  .testimonial .slide i {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .testimonial .slide i {
    font-size: 32px;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(5, 20, 35);
}
.detail .name {
  font-size: 12px;
  font-weight: 600px;
}
@media only screen and (min-width: 600px) {
  .detail .name {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .detail .name {
    font-size: 17px;
  }
}
.detail .occupation {
  font-size: 11px;
  font-weight: 400px;
}
@media only screen and (min-width: 600px) {
  .detail .occupation {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1200px) {
  .detail .occupation {
    font-size: 15px;
  }
}

.slider-nav-btn {
  display: none;
  background-color: rgb(5, 20, 35);
  color: #F0FFF3;
  --swiper-navigation-size: 30px;
  padding: 25px;
  border-radius: 50%;
  transition: 0.2s;
}
.slider-nav-btn:hover {
  background-color: black;
  color: rgb(4, 189, 251);
}
@media only screen and (min-width: 992px) {
  .slider-nav-btn {
    display: flex;
  }
}

.swiper-pagination-bullet {
  background-color: #11CBD7;
  transform: translateY(10px);
}

.swiper-pagination-bullet-active {
  background-color: rgb(5, 20, 35);
}

.review {
  padding: 30px 20px;
  color: rgb(5, 20, 35);
  border-top: 1px solid #F0FFF3;
}
@media only screen and (min-width: 600px) {
  .review {
    padding: 50px 70px;
  }
}
@media only screen and (min-width: 768px) {
  .review {
    padding: 50px 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .review {
    padding: 50px 250px;
  }
}
.review textarea, .review input {
  width: 100%;
  outline: none;
  padding: 7px;
  font-size: 15px;
  font-family: "poppins";
  background-color: whitesmoke;
  border: none;
}
.review textarea {
  height: 120px;
  resize: none;
  border-top: 1px solid black;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .review textarea {
    height: 180px;
  }
}
.review .send-btn {
  border: none;
  background-color: #F0FFF3;
  color: rgb(5, 20, 35);
  font-size: 25px;
  padding: 3px 12px;
  transition: 0.2s;
}
.review .send-btn:hover {
  background-color: rgb(4, 189, 251);
}

dialog {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100vh;
  border: none;
  margin: auto;
  background-color: rgba(240, 255, 243, 0.8470588235);
}

.signup_or_login {
  position: relative;
  background: rgb(5, 20, 35);
  color: #F0FFF3;
  opacity: 0.9;
  height: 100%;
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.signup_or_login img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  cursor: pointer;
}
.signup_or_login div {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.signup_or_login div label {
  font-size: 17px;
  margin-left: 5px;
}
.signup_or_login div span {
  font-size: 10px;
  margin: 5px 0 0 10px;
  color: #ff1717;
}
@media only screen and (min-width: 1200px) {
  .signup_or_login div span {
    font-size: 12px;
  }
}
.signup_or_login div input {
  padding: 4px;
  outline-color: rgb(5, 20, 35);
}
.signup_or_login input {
  border: none;
  border-radius: 10px;
  font-size: 17px;
}
.signup_or_login .dialog-submit {
  padding: 5px 15px;
  background-color: #F0FFF3;
  color: rgb(5, 20, 35);
  cursor: pointer;
  font-weight: bold;
}
.signup_or_login a {
  color: #F0FFF3;
  text-decoration: underline;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F0FFF3;
}

main {
  position: relative;
  height: 100vh;
}

header {
  position: absolute;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0FFF3;
}
@media only screen and (min-width: 992px) {
  header {
    padding: 30px;
    justify-content: flex-start;
    gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    gap: 70px;
  }
}

.get-started {
  background-color: rgb(5, 20, 35);
  color: #F0FFF3;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 7px;
  z-index: 1;
  transition: 0.2s;
}
@media only screen and (min-width: 600px) {
  .get-started {
    font-size: 20px;
    padding: 5px 15px;
  }
}
@media only screen and (min-width: 992px) {
  .get-started {
    width: 170px;
  }
  .get-started:hover {
    background-color: rgb(4, 189, 251);
  }
}
@media only screen and (min-width: 1200px) {
  .get-started {
    font-size: 23px;
    width: 190px;
    border-radius: 35px;
  }
}

.hamburger {
  width: 30px;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
@media only screen and (min-width: 992px) {
  .hamburger {
    transition: none;
  }
}
@media only screen and (min-width: 600px) {
  .hamburger {
    width: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
.hamburger-btn {
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(5, 20, 35);
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .hamburger-btn {
    height: 4px;
  }
}
.hamburger-btn::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(5, 20, 35);
  transition: all 0.5s ease-in-out;
  top: -9px;
}
@media only screen and (min-width: 600px) {
  .hamburger-btn::before {
    height: 4px;
  }
}
@media only screen and (min-width: 600px) {
  .hamburger-btn::before {
    top: -11px;
  }
}
.hamburger-btn::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 60%;
  border-radius: 10px;
  background-color: rgb(5, 20, 35);
  transition: all 0.5s ease-in-out;
  bottom: -9px;
}
@media only screen and (min-width: 600px) {
  .hamburger-btn::after {
    height: 4px;
  }
}
@media only screen and (min-width: 600px) {
  .hamburger-btn::after {
    bottom: -11px;
  }
}
.hamburger.animate {
  transform: rotate(360deg);
}
.hamburger.animate .hamburger-btn {
  background: transparent;
}
.hamburger.animate .hamburger-btn::before {
  transform: rotate(45deg) translate(8px, 7px);
  background-color: #F0FFF3;
  width: 100%;
}
.hamburger.animate .hamburger-btn::after {
  transform: rotate(-45deg) translate(7px, -6px);
  background-color: #F0FFF3;
  width: 100%;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 160%;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  background: rgb(5, 20, 35);
  opacity: 0.99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  transform: translate(100%);
  padding-right: 70%;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .menu {
    transition: none;
  }
}
.menu.animate {
  transform: translate(50%, 0);
}
@media only screen and (min-width: 992px) {
  .menu {
    position: static;
    background-color: transparent;
    transform: translate(0);
    flex-direction: row;
    justify-content: space-between;
    height: -moz-fit-content;
    height: fit-content;
    width: inherit;
    padding: 0;
  }
}
.menu .anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media only screen and (min-width: 992px) {
  .menu .anchor {
    flex-direction: row;
    gap: 20px;
  }
}
.menu .anchor a {
  text-decoration: none;
  color: #F0FFF3;
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .menu .anchor a {
    color: rgb(5, 20, 35);
  }
  .menu .anchor a:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1200px) {
  .menu .anchor a {
    font-size: larger;
  }
}
.menu .anchor a.active {
  color: rgb(4, 189, 251);
}
@media only screen and (min-width: 992px) {
  .menu .anchor a.active {
    text-decoration: underline;
  }
}
.menu .login {
  align-self: center;
  display: flex;
  gap: 15px;
}
.menu .login a {
  transition: 0.2s;
  border: 1px solid #F0FFF3;
  color: #F0FFF3;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .menu .login a {
    color: rgb(5, 20, 35);
    font-size: 15px;
    padding: 6px 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu .login a {
    font-size: 17px;
  }
}
.menu .login a:nth-child(1) {
  background-color: #F0FFF3;
  color: rgb(5, 20, 35);
}
@media only screen and (min-width: 992px) {
  .menu .login a:nth-child(1) {
    background-color: rgb(5, 20, 35);
    color: #F0FFF3;
  }
}
.menu .login a:hover {
  border: 1px solid rgb(5, 20, 35);
  color: rgb(5, 20, 35);
  background-color: transparent;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logo-container .home-anime, .logo-container .home-anime.three:after {
  border-radius: 50%;
  background-color: rgb(5, 20, 35);
  position: absolute;
  animation-iteration-count: infinite;
  animation-name: expand;
  animation-duration: 2s;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    opacity: 0.98;
  }
  100% {
    transform: scale(1);
  }
}
.logo-container .home-anime.one, .logo-container .one.home-anime.three:after {
  height: 120px;
  width: 120px;
  top: 20vh;
  left: 15vw;
}
@media only screen and (max-width: 992px) {
  .logo-container .home-anime.one, .logo-container .one.home-anime.three:after {
    height: 100px;
    width: 100px;
  }
}
@media only screen and (max-width: 450px) {
  .logo-container .home-anime.one, .logo-container .one.home-anime.three:after {
    height: 90px;
    width: 90px;
    top: 25vh;
    left: 5vw;
  }
}
.logo-container .home-anime.two, .logo-container .two.home-anime.three:after {
  height: 140px;
  width: 140px;
  bottom: 15vh;
  right: 10vw;
}
@media only screen and (max-width: 992px) {
  .logo-container .home-anime.two, .logo-container .two.home-anime.three:after {
    height: 120px;
    width: 120px;
  }
}
@media only screen and (max-width: 450px) {
  .logo-container .home-anime.two, .logo-container .two.home-anime.three:after {
    bottom: 6vh;
    right: 5vw;
  }
}
.logo-container .home-anime.three, .logo-container .three.home-anime:after {
  height: 100px;
  width: 100px;
  top: 20vh;
  right: 25vw;
}
@media only screen and (max-width: 992px) {
  .logo-container .home-anime.three, .logo-container .three.home-anime:after {
    height: 80px;
    width: 80px;
  }
}
@media only screen and (max-width: 450px) {
  .logo-container .home-anime.three, .logo-container .three.home-anime:after {
    right: 10vw;
  }
}
.logo-container .home-anime.three:after {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  top: 5px;
  left: -45px;
}
@media only screen and (max-width: 992px) {
  .logo-container .home-anime.three:after {
    height: 50px;
    width: 50px;
    left: -35px;
  }
}
.logo-container .home-anime.four, .logo-container .four.home-anime.three:after {
  height: 60px;
  width: 60px;
  bottom: 30vh;
  right: 45vw;
}
@media only screen and (max-width: 992px) {
  .logo-container .home-anime.four, .logo-container .four.home-anime.three:after {
    height: 50px;
    width: 50px;
  }
}
.logo-container .home-anime.five, .logo-container .five.home-anime.three:after {
  height: 90px;
  width: 90px;
  bottom: 10vh;
  left: 10vw;
}
@media only screen and (max-width: 992px) {
  .logo-container .home-anime.five, .logo-container .five.home-anime.three:after {
    height: 75px;
    width: 75px;
  }
}
.logo-container h1 {
  font-size: 40px;
  font-family: monospace;
}
@media only screen and (min-width: 600px) {
  .logo-container h1 {
    font-size: 55px;
  }
}
.logo-container h1 a {
  text-decoration: none;
  color: rgb(5, 20, 35);
}
.logo-container h1 a:hover {
  color: black;
}

.get-started_section {
  padding: 40px 0;
  background: linear-gradient(to bottom, rgba(20, 205, 205, 0.142), #F0FFF3);
  border-bottom: 2px solid rgba(20, 205, 205, 0.142);
  color: rgb(5, 20, 35);
}
@media only screen and (min-width: 992px) {
  .get-started_section {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .get-started_section {
    padding: 90px 0;
  }
}
.get-started_section .intro {
  text-align: center;
  padding: 0 10px;
}
@media only screen and (min-width: 600px) {
  .get-started_section .intro {
    padding: 0 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .get-started_section .intro {
    padding: 0 170px;
  }
}
.get-started_section .intro h2 {
  font-size: 17px;
}
@media only screen and (min-width: 600px) {
  .get-started_section .intro h2 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .get-started_section .intro h2 {
    font-size: 27px;
  }
}
.get-started_section .intro p {
  font-size: 12px;
}
@media only screen and (min-width: 600px) {
  .get-started_section .intro p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .get-started_section .intro p {
    font-size: 20px;
    padding: 0 200px;
  }
}

.feature-container {
  padding: 50px 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (min-width: 450px) {
  .feature-container {
    padding: 50px 50px 80px;
  }
}
@media only screen and (min-width: 600px) {
  .feature-container {
    gap: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .feature-container {
    padding: 50px 90px 80px;
    gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .feature-container {
    padding: 90px 200px 80px;
  }
}
.feature-container .features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.feature-container .features img {
  width: 70px;
  height: 70px;
}
@media only screen and (min-width: 1200px) {
  .feature-container .features img {
    width: 100px;
    height: 100px;
  }
}
.feature-container .features .text h3 {
  font-size: 15px;
  letter-spacing: 5px;
}
@media only screen and (min-width: 600px) {
  .feature-container .features .text h3 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .feature-container .features .text h3 {
    font-size: 21px;
  }
}
.feature-container .features .text p {
  font-size: 14px;
  word-break: break-all;
}
@media only screen and (min-width: 600px) {
  .feature-container .features .text p {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1200px) {
  .feature-container .features .text p {
    font-size: 20px;
  }
}

.other-feature-container h3 {
  text-align: center;
  color: grey;
}
@media only screen and (min-width: 600px) {
  .other-feature-container h3 {
    font-size: 25px;
  }
}
.other-feature-container .other-features {
  padding: 10px 30px 20px;
  display: grid;
  gap: 10px;
}
@media only screen and (min-width: 450px) {
  .other-feature-container .other-features {
    padding: 10px 40px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .other-feature-container .other-features {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 10px 80px 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .other-feature-container .other-features {
    padding: 40px 80px 50px;
  }
}
.other-feature-container .other-features div {
  position: relative;
}
.other-feature-container .other-features div .pro {
  background-color: gold;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  padding: 2px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: 40px;
}
.other-feature-container .other-features div i {
  font-size: 15px;
}
@media only screen and (min-width: 600px) {
  .other-feature-container .other-features div i {
    font-size: 20px;
  }
}
.other-feature-container .other-features div h4 {
  font-size: 13px;
}
@media only screen and (min-width: 600px) {
  .other-feature-container .other-features div h4 {
    font-size: 18px;
  }
}
.other-feature-container .other-features div p {
  font-size: 12px;
  word-break: break-all;
}
@media only screen and (min-width: 600px) {
  .other-feature-container .other-features div p {
    font-size: 17px;
  }
}
.other-feature-container a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: gold;
  border: solid 1px gold;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .other-feature-container a {
    font-size: 17px;
    padding: 5px 8px;
  }
}

footer {
  background-color: #F0FFF3;
}

.sponsors {
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  opacity: 0.7;
}
.sponsors img {
  width: 70%;
  justify-self: center;
}
@media only screen and (min-width: 600px) {
  .sponsors img {
    max-width: 100px;
    width: 50%;
  }
}

.borderline {
  height: 3px;
  border-radius: 5px;
  width: 95%;
  background-color: rgb(5, 20, 35);
  margin: 0 auto;
}

.socials {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.socials a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(5, 20, 35);
  transition: 0.2s;
}
.socials a:hover {
  background-color: rgb(4, 189, 251);
}
@media only screen and (min-width: 992px) {
  .socials a {
    width: 40px;
    height: 40px;
  }
}
.socials a i {
  color: #F0FFF3;
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  .socials a i {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */