@import "declarations", "how_it_works", "contact_us", "stock", "reviews", "login_dialog";


body {
    font-family: 'Poppins', sans-serif;
    background-color: $primary-color;
}

main{
    position: relative;
    height: 100vh;
}

header {
    position: absolute;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    @include mediaQuery(min-width, 992px){
        padding: 30px;
        justify-content: flex-start;
        gap: 40px;
    }
    @include mediaQuery(min-width, 1200px){
        gap: 70px;
    }
}

.get-started {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 7px;
    z-index: 1;
    transition: 0.2s;
    @include mediaQuery(min-width, 600px){
        font-size: 20px;
        padding: 5px 15px;
    }
    @include mediaQuery(min-width, 992px){
        width: 170px;
        &:hover {
            background-color: $hover-color;
        }
    }
    @include mediaQuery(min-width, 1200px){
        font-size: 23px;
        width: 190px;
        border-radius: 35px;
    }
}

.hamburger {
    width: 30px;
    position: relative;
    @include transition;
    z-index: 2;
    @include mediaQuery(min-width, 600px){
        width: 40px;
    }
    @include mediaQuery(min-width, 992px){
        display: none
    }
    
    &-btn {
        @include burgerBtnStyle;
        
        &::before {
            content: "";
            @include burgerBtnStyle(80%);
            top: -9px;
            @include mediaQuery(min-width, 600px){
                top: -11px;
            }
        }
        &::after {
            content: "";
            @include burgerBtnStyle(60%);
            bottom: -9px;
            @include mediaQuery(min-width, 600px){
                bottom: -11px;
            }
        }
    }

    &.animate {
        transform: rotate(360deg);

        .hamburger-btn {
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(8px, 7px);
                background-color: $primary-color;
                width: 100%;
            }
            &::after {
                transform: rotate(-45deg) translate(7px, -6px);
                background-color: $primary-color;
                width: 100%;
            }
        }
    }
}

.menu {
    position: fixed;
    height: 100vh;
    width: 160%;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    background: $secondary-color;
    opacity: 0.99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    transform: translate(100%);
    padding-right: 70%;
    z-index: 1;
    @include transition;
    &.animate {
        transform: translate(50%, 0);
    }
    @include mediaQuery(min-width, 992px){
        position: static;
        background-color: transparent;
        transform: translate(0);
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
        width: inherit;
        padding: 0;
    }

    .anchor {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @include mediaQuery(min-width, 992px){
            flex-direction: row;
            gap: 20px;
        }
    
        a {
            text-decoration: none;
            color: $primary-color;
            font-size: 18px;
            @include mediaQuery(min-width, 992px){
                color: $secondary-color;
                &:hover {
                    text-decoration: underline;;
                }
            }
            @include mediaQuery(min-width, 1200px){
                font-size: larger;
            }
            &.active {
                color: $hover-color;
                @include mediaQuery(min-width, 992px){
                    text-decoration: underline;
                }
            }
        }
    }

    .login {
        align-self: center;
        display: flex;
        gap: 15px;

        a {transition: 0.2s;
            @include login_h3style;
            &:nth-child(1) {
                background-color: $primary-color;
                color: $secondary-color;
                @include mediaQuery(min-width, 992px){
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }

            &:hover {
                border: 1px solid $secondary-color;
                color: $secondary-color;
                background-color: transparent;
            }
        }   
    }
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .home-anime {
        border-radius: 50%;
        background-color: $secondary-color;
        position: absolute;
        @include anime;

        &.one {
            height: 120px;
            width: 120px;
            top: 20vh;
            left: 15vw;
            @include mediaQuery(max-width, 992px){
                height: 100px;
                width: 100px;
            }
            @include mediaQuery(max-width, 450px){
                height: 90px;
                width: 90px;
                top: 25vh;
                left: 5vw;
            }
        }
        &.two {
            height: 140px;
            width: 140px;
            bottom: 15vh;
            right: 10vw;
            @include mediaQuery(max-width, 992px){
                height: 120px;
                width: 120px;
            };
            @include mediaQuery(max-width, 450px){
                bottom: 6vh;
                right: 5vw;
            }
        }
        &.three {
            height: 100px;
            width: 100px;
            top: 20vh;
            right: 25vw;
            @include mediaQuery(max-width, 992px){
                height: 80px;
                width: 80px;
            }
            @include mediaQuery(max-width, 450px){
                right: 10vw;
            }
            &:after {
                content: '';
                display: block;
                height: 60px;
                width: 60px;
                top: 5px;
                left: -45px;
                @extend .home-anime;
                @include mediaQuery(max-width, 992px){
                    height: 50px;
                    width: 50px;
                    left: -35px;
                }
            }
        }
        &.four {
            height: 60px;
            width: 60px;
            bottom: 30vh;
            right: 45vw;
            @include mediaQuery(max-width, 992px){
                height: 50px;
                width: 50px;
            }
        }
        &.five {
            height: 90px;
            width: 90px;
            bottom: 10vh;
            left: 10vw;
            @include mediaQuery(max-width, 992px){
                height: 75px;
                width: 75px;
            }
        }
    }


    h1 {
        font-size: 40px;
        font-family: monospace;
        @include mediaQuery(min-width, 600px){
            font-size: 55px;
        }
        a {
            text-decoration: none;
            color: $secondary-color;
            &:hover {
                color: black;
            }
        }
    }
}


.get-started_section {
    padding: 40px 0;
    background: linear-gradient(
        to bottom, 
        rgba(20, 205, 205, 0.142),
        $primary-color);
        border-bottom: 2px solid rgba(20, 205, 205, 0.142);
    color: $secondary-color;
    @include mediaQuery(min-width, 992px){
        padding: 60px 0;
    }
    @include mediaQuery(min-width, 1200px){
        padding: 90px 0;
    }

    .intro {
        text-align: center;
        padding: 0 10px;
        @include mediaQuery(min-width, 600px){
            padding: 0 70px;
        }
        @include mediaQuery(min-width, 1200px){
            padding: 0 170px;
        }

        h2 {
            font-size: 17px;
            @include mediaQuery(min-width, 600px){
                font-size: 22px;
            }
            @include mediaQuery(min-width, 1200px){
                font-size: 27px;
            }
        }
        p {
            font-size: 12px;
            @include mediaQuery(min-width, 600px){
                font-size: 15px;
            }
            @include mediaQuery(min-width, 1200px){
                font-size: 20px;
                padding: 0 200px;
            }
        }
    }
}

.feature-container {
    padding: 50px 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mediaQuery(min-width, 450px){
        padding: 50px 50px 80px;
    }
    @include mediaQuery(min-width, 600px){
        gap: 20px;
    }
    @include mediaQuery(min-width, 992px){
        padding: 50px 90px 80px;
        gap: 40px;
     }
    @include mediaQuery(min-width, 1200px){
        padding: 90px 200px 80px;
    }

    .features {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    
        img {
            width: 70px;
            height: 70px;
            @include mediaQuery(min-width, 1200px){
                width: 100px;
                height: 100px;
            }
        }
        .text {
            h3 {
                font-size: 15px;
                letter-spacing: 5px;
                @include mediaQuery(min-width, 600px){
                    font-size: 20px;
                }
                @include mediaQuery(min-width, 1200px){
                    font-size: 21px;
                }
            }
            p {
                font-size: 14px;
                word-break: break-all;
                @include mediaQuery(min-width, 600px){
                    font-size: 19px;
                }
                @include mediaQuery(min-width, 1200px){
                    font-size: 20px;
                }
            }
        }
    }
}

.other-feature-container {
    h3 {
        text-align: center;
        color: grey;
        @include mediaQuery(min-width, 600px){
           font-size: 25px;
        }
    }

    .other-features {
        padding: 10px 30px 20px;
        display: grid;
        gap: 10px;
        @include mediaQuery(min-width, 450px){
            padding: 10px 40px 20px;
        }
        @include mediaQuery(min-width, 992px){
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            padding: 10px 80px 20px;
         }
        @include mediaQuery(min-width, 1200px){
            padding: 40px 80px 50px;
        }

        div {
            position: relative;
    
            .pro {
                background-color: gold;
                width: fit-content;
                color: white;
                padding: 2px;
                border-radius: 10px;
                position: absolute;
                top: 5px;
                right: 40px;
            }
            i {
                font-size: 15px;
                @include mediaQuery(min-width, 600px){
                    font-size: 20px;
                }
            }
            h4 {
                font-size: 13px;
                @include mediaQuery(min-width, 600px){
                    font-size: 18px;
                }
            }
            p {
                font-size: 12px;
                word-break: break-all;
                @include mediaQuery(min-width, 600px){
                    font-size: 17px;
                }
            }
        }
    }

    a {
        display: block;
        width: fit-content;
        margin: auto;
        color: gold;
        border: solid 1px gold;
        border-radius: 20px;
        padding: 5px;
        text-decoration: none;
        @include mediaQuery(min-width, 600px){
            font-size: 17px;
            padding: 5px 8px;
        }
    }
}


footer {
    background-color: $primary-color;
}

.sponsors {
    padding: 20px;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    opacity: 0.7;

    img {
        width: 70%;
        justify-self: center;
        @include mediaQuery(min-width, 600px){
            max-width: 100px;
            width: 50%;
        }
    }
}

.borderline {
    height: 3px;
    border-radius: 5px;
    width: 95%;
    background-color: $secondary-color;
    margin: 0 auto;
}

.socials {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;

    a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: $secondary-color;
        transition: 0.2s;
        &:hover {
            background-color: $hover-color;
        }
        @include mediaQuery(min-width, 992px){
           width: 40px;
           height: 40px;
        }

        i {
            color: $primary-color;
            font-size: 16px;
            @include mediaQuery(min-width, 992px){
                font-size: 18px;
             }
        }
    }
}